* {
  font-family: 'Patrick Hand', cursive;
}

body, html {
  height: 100vh;
  width: 100vw;
  margin: 0;
  border: 0;
  padding: 0;
  overflow: hidden;
}

h1 {
  font-size: 50px;
  margin: 0;
}

h2 {
  font-size: 30px;
}

h5 {
  margin: 0;
}

main {
  margin: 0;
  border: 0;
  padding: 0;
  display: flex;
}

h1, h5, .info-card, .steps-card, .sleep-card, .hydration-card {
  text-align: center;
}

.left-side {
  width: 40%;
  height: 100vh;
}

.right-side {
  width: 100%;
  height: 50%;
  display: flex;
}

.bottom-side {
  width: 95%;
  height: 250px;
  position: relative;
  display: flex;
  border: solid black 1px;
}

.right-and-bottom {
  width: 60%;
}

.steps-card {
  width: 50%;
  margin: 40px;
  text-align: center;
  border: solid black 1px;
}

.hydration-card {
  width: 50%;
  margin: 40px;
  border: solid black 1px;
}

.sleep-card {
  width: 100%;
  display: flex;
}

.hydration-block {
  height: 100px;
  width: 350px;
  overflow-wrap: break-word;
}

.general-metrics {
  width: 20%;
}

.weeks-hours-metrics, .weeks-quality-metrics {
  width: 35%;
}

.general-metrics {
  height: 80%;
}

.sleep-heading {
  width: 95%;
  margin: 0px;
  border: solid black 1px;
  border-bottom: white;
}

h3, h4, h5 {
  font-size: 25px;
}

h3, h4 {
  margin: 0px;
  border-bottom: black 1px solid;
}

p {
  font-size: 18px;
}